{% comment %}Main product details{% endcomment %}
<section class="product">
  <div class="product-media">
    <img src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.title }}">
  </div>
  <div class="product-details">
    <h1>{{ product.title }}</h1>
    <div class="product-price">{{ product.price | money }}</div>
    <div class="product-description">{{ product.description }}</div>
    {% form 'product', product %}
      <button type="submit">Add to cart</button>
    {% endform %}
  </div>
</section>

{% schema %}
{
  "name": "Main product"
}
{% endschema %}
